:root {
    --main: rgb(68, 108, 255);
    --gray: #D4DADC;
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
  }
  
  #loading-image {
    z-index: 100;
  }

.header{
    height: 190px;
    width: 100%;
}

.header h1{
    margin-top: auto;
    font-weight: bolder;
    position: absolute;
    left: 50px;
    top: 83px;
    font-size: 120px;
    color: var(--main);
    /* -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white; */
    /* bottom: calc(80vh + 30px) */
}

.header h2{
    margin-top: auto;
    font-weight: bolder;
    position: absolute;
    right: 50px;
    font-size: 45px;
    top: 30px;
}

.text p{
    margin-bottom: 30px;
}

.folium-map {
    max-width: calc(100vw - 120px);
    min-height: 650px !important;
    max-height: 650px !important;
    margin: auto;
    border: 10px solid black;
}

.section-header{
    background-color: var(--main);
    color: white;
    font-size: 70px;
    line-height: 80px;
    position: static;
    display: inline-block;
    height: fit-content;
    padding-left: 50px;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: -100px;
    height: 90px;
}
/* 
.section-header span {
    position: relative;
    bottom: 7px;
} */

.intro {
    background-color: var(--main);
    padding-bottom: 0.5vw;
    margin-bottom: 50px;
    color: white;
}

.intro .text {
    margin-top: 50px;
}

.text {
    margin: 50px;
    margin-top: 20px;
    font-size: 1.25em;
}

p a {
    text-decoration: none;
    color: var(--main);
}

p a:hover{
    color: black;
    text-decoration: none;
}

.sub {
    font-weight: bolder;
    font-size: 2em;
    margin-top: 1em;
}

.map-title {
    background-color: white;
    font-size: 80px;
    color: black;
    font-weight: bolder;
    line-height: 80px;
    margin-top: -10px;
}

.sources .text{
    background-color: white;
}
.gray {
    margin: 50px;
    background-color: var(--gray);
    color: black;
}

.gray .section-header {
    background-color: var(--gray);
    color: black;
}

.blue, .blue .section-header {
    background-color: var(--main);
    color: white;
}

.black, .black .section-header {
    background-color: black;
    color: white;
}

.white, .white .section-header {
    background-color: white;
    color: black;
    border: solid black 10px;
}

.white .section-header{
    border: none;
}


@media screen and (max-width: 900px) {
    .header h1 {
        font-size: 70px;
        top: 100px;
        left: 45px;
        /* margin-top: 10px; */
    }

    .section-header {
        font-size: 60px;
    }
}