:root {
    --main: rgb(68, 108, 255);
    --gray: #D4DADC;
}

.header{
    height: 150px;
    width: 100%;
}

.header h1{
    margin-top: auto;
    font-weight: bolder;
    position: absolute;
    left: 2.5vw;
    top: 78px;
    font-size: 120px;
    color: var(--main);
    /* -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white; */
    /* bottom: calc(80vh + 30px) */
}

.header h2{
    margin-top: auto;
    font-weight: bolder;
    position: absolute;
    right: 2.5vw;
    font-size: 45px;
    top: 30px;
}

.folium-map {
    max-width: 95vw;
    min-height: 650px !important;
    max-height: 650px !important;
    margin: auto;
}

.section-header{
    background-color: var(--main);
    color: white;
    font-size: 80px;
    padding: 10px;
    padding-left: 2.5vw;
    font-weight: bolder;
    margin-top: 2.5vw;
    height: 90px;
}

.section-header span {
    position: relative;
    bottom: 7px;
}

.intro {
    background-color: var(--main);
    padding-bottom: 0.5vw;
    margin-bottom: 2.5vw;
    color: white;
}

.intro .text {
    margin-top: 2.5vw;
}

.text {
    margin: 2.5vw;
    margin-top: 1.5vw;
    font-size: 1.25em;
}

.map-title {
    font-size: 80px;
    color: black;
    z-index: 1000;
    font-weight: bolder;
    line-height: 80px;
    margin-left: 3.5vw;
    position: absolute;
    bottom: -469px;
}

.gray {
    margin: 2.5vw;
    background-color: var(--gray);
    color: black;
}

.gray .section-header {
    background-color: var(--gray);
    color: black;
}

.blue, .blue .section-header {
    background-color: var(--main);
    color: white;
}

.black, .black .section-header {
    background-color: black;
    color: white;
}


@media screen and (max-width: 900px) {
    .header h1 {
        font-size: 60px;
        margin-top: 10px;
    }

    .section-header {
        font-size: 60px;
    }
}